<ion-content>
  <section class="hero">
    <ion-card style="margin-top: 50px">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Log in</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [formControl]="loginForm.controls.Username" placeholder="Indtast dit Username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [formControl]="loginForm.controls.password" placeholder="Indtast dit password"></ion-input>
        </ion-item>

      </ion-card-content>

    </ion-card>
  </section>
</ion-content>
